<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            
            <!--ここからいいね条件-->
            <% if !topic.favorite_users.include?(current_user) %>
              <!--いいねされていない-->
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
              <% end %>
            <% else %>
              <!--いいねされている-->
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do  %>
                <%= image_tag 'icons/heart-pink.png', class: 'topic-index-icon' %>
                <%= #f.hidden_field :topic_id, value: topic.id %>
                <% #f.submit :class=>"topic-index-icon heart-pink" %>
              <% end %>             
            <% end %>
            <%= topic.favorites.count %>          
             <!--ここまで-->           
            <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>